{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Bonjour petit bib</h1>
    <h6>Débrouille toi pour trouver les routes</h6>
    <p>petite aide: php bin/console debug:route</p>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
{% endblock %}